*{
    font-family: inter;
}
body{
    margin: 0;
    margin-top: 0;
}
.header{
    background-color: black;
    color: white;
    padding: 10px;
}
h2{
    margin: 0;
}
.button{
    margin: 20px ;
}
.btn{
    background-color: black;
    color:white;
    width: 200px;
    height: 20px;
}
table{
    margin: 25px;
    border: 1px solid black;
    width: 93%;
}
td{
    border-right: 1px solid black;
    text-align: center;
    padding: 10px;
}
table td:last-child{
    border-right: none;
}
.input-field{
}
